# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.airplane-view

airplane.dev.yaml

.airplane/node_modules

.airplane/builtins-darwin-arm64